<div class="page">
   <h1>About</h1>

   <div class="ruler"></div>

   <p>
      We are all unique. They don't define us, <strong>we define ourself</strong>.
   </p>



   <p>
      We don't choose our own name as we are born, it is chosen for us and forms our identity growing up.
   </p>

   <p>
      As an adult, you should be free to identity how you want, in every possible way, without restrictions.
   </p>

   <p>
      The City Chain Identity is a registry of identities, where <strong>you own your identities</strong> and you are in
      control.
   </p>

   <p>This is a <strong>permissionless identity registry</strong>, that means you don't need to ask anyone for
      permission to add your
      identities.</p>

   <p>Only you and nobody else, can change your identities.</p>

   <p>Who says you can only have a single identity? Break free of your existing limitations and express yourself.</p>

   <p>You can have different identities for different uses, there are no limits.</p>

   <p>We see <strong>no borders</strong>, we see <strong>no nations</strong>. We are all humans, and we all exists. We
      must all be free.</p>

   <p>
      <img class="img-full" src="assets/about.jpg">
   </p>

   <h3>Why should you create your own identity?</h3>

   <p>
      Your identities can be used for many different purposes, now and in the future. They can form the basis of your
      data universe.
   </p>

   <p>
      As you grow your network of connections and data, with other individuals or digital services, the data elements
      can potentially
      be linked back to your identity.
   </p>

   <p>
      You can use your identities in different roles and for different tasks. You can utilize them to digitally sign
      messages, ensure encrypted and private communication, you can attest to information and data. Based on your
      expertice or knowledge, you can verify data for integrity and correctness.
   </p>

   <p>
      If you are an expert in your field, you can attest that some information is correct or not. Then other people and
      people in your network will increase their trust in the information they receive.
   </p>

   <p>One partical example of this could be an accountant who signs off on the yearly accounting reporting for a
      company.</p>

   <p>Another example could be someone signing a testimony.</p>

   <p>The possibilities are many and we are only getting started. So go a head and start creating your identities.</p>

   <p>
      <br>
      <a class="button" [routerLink]="['/register']">Create <span class="mu mu-arrow-right"></span></a>
      <br><br>
    </p>

   <h3>Final notes</h3>

   <p>
      This service is made available to be an alternative to centralized and national registries of identities. It is
      <strong>borderless and permissionless</strong>.
   </p>

   <p>Identities in this registry <strong>does not result in any legal status</strong> in the identities country of
      residence. It is your responsibility to follow local and regional laws and regulations.</p>

   <p>This site is provided by the <strong><a href="/view/PHRcZvY4z86XxXey1VykYosy3BecdTDnUi">City Chain Labs CC</a></strong>, a crypto company established to develop and
      promote blockchain
      technologies.</p>

   <div>
      <span class="large-icon mu mu-web"></span>
      <span class="large-icon mu mu-heart"></span>
   </div>

</div>