<header>

  <div class="title">
    <a class="logo-link" [routerLink]="['/']">City Chain <strong>Identity</strong></a><span class="logo-icon hide-mobile mu mu-user"></span>
  </div>

  <a [routerLink]="" queryParamsHandling="preserve" (click)="toggleMenu()" class="menu">
    <span class="menu-text uppercase">Menu</span>
    <span class="burger mu mu-menu"></span>
  </a>

</header>

<div class="overlay" [ngClass]="{ show: showMenu }">

  <div class="navigation">

    <a class="navigation-close" [routerLink]="" queryParamsHandling="preserve" (click)="toggleMenu()">
      <span class="large-icon mu mu-cancel"></span>
    </a>

    <h2>Menu</h2>

    <div class="ruler"></div>

    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" (click)="toggleMenu()" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" (click)="toggleMenu()" [routerLink]="['/registry']">Find</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" (click)="toggleMenu()" [routerLink]="['/register']">Create</a>
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" (click)="toggleMenu()" [routerLink]="['/announcements']">Announcements</a>
      </li> -->
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" (click)="toggleMenu()" [routerLink]="['/about']">About</a>
      </li>
    </ul>

  </div>

</div>


<!-- <header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">City.Chain.Registry.Website</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->