<div class="grid-container">
  <div class="footer">
    <div class="footer-right hide-xs">
      <span class="hide-s">Powered by </span
      ><a href="https://www.city-chain.org/" target="_blank">
        Smart City Platform
      </a>
    </div>

    <div class="footer-left">
      <strong
        >PREVIEW<span class="hide-mobile"> - DATA WILL BE LOST!</span></strong
      >
    </div>
  </div>
  <div class="content" id="content">
    <router-outlet></router-outlet>

    <div class="footer-links-wrapper">
      <div class="footer-links-top"></div>
      <div class="footer-links">
        <div class="footer-links-left">
          <h3 class="underline">About</h3>
          <p>The City Chain Identity is a registry of identities.</p>
          <p>The registry builds on decentralized Web5 technology.</p>
          <br />
          <p>
            <a class="button" [routerLink]="['/about']"
              >Read more <span class="mu mu-arrow-right"></span
            ></a>
          </p>
          <br />
        </div>
        <div class="footer-links-right">
          <a class="nav-link" [routerLink]="['/']">Home</a>
          <a class="nav-link" [routerLink]="['/registry']">Find</a>
          <a class="nav-link" [routerLink]="['/register']">Create</a>
          <a class="nav-link" [routerLink]="['/about']">About</a>

          <div class="hr"></div>

          <a href="https://www.city-chain.org/" target="_blank"
            >City Chain</a
          >
          <a href="https://docs.blockcore.net/" target="_blank"
            >Documentation</a
          >
        </div>
      </div>
      <div class="footer-links-bottom"></div>
    </div>
  </div>
  <div class="header">
    <app-nav-menu></app-nav-menu>
  </div>
</div>
